<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- 自身のKitCodeのIDが入ります  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/13efc1d0bf.js" crossorigin="anonymous"></script>
　　<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="pt-0">
    <header class="mt-0">
      <%= render 'layouts/header' %>
    </header>
    <div>
       <%= flash[:notice] %>
    </div>

    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <div>
              <p>CopyRight Infratop.inc</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
